@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --sidebar-bg: #74B3CE;
  --navbar-bg: #F8FAFC;
  --card-bg: #FFFFFF;
  --button-primary: #38A169;
  --button-danger: #E57373;
  --text-color: #333F50;
  --primary-bg: #74B3CE;
  --secondary-bg: #F8FAFC;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
   }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.truncate-text {
  width: 100px; /* Set a fixed width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis at the end of the text */
}

.black-bg {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}

.background-img {
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 30% 100%);
}

button {
  text-transform: uppercase;
  /* font-family: 'Times New Roman', Times, serif; */
}

